<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SOS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="sos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SOS.Properties.Settings>
            <setting name="login" serializeAs="String">
                <value>powerkiki</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>123456</value>
            </setting>
            <setting name="addressBook" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>0787417407|moi</string>
                        <string>0764268876|alex</string>
                        <string>0774100629|yeobo</string>
                        <string>0793572302|sidonie</string>
                    </ArrayOfString>
                </value>
            </setting>
        </SOS.Properties.Settings>
        <sos.Properties.Settings>
            <setting name="login" serializeAs="String">
                <value>powerkiki</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>123456</value>
            </setting>
            <setting name="addressBookkk" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>0787417407|moi</string>
                        <string>0764268876|alex</string>
                        <string>0774100629|yeobo</string>
                        <string>0793572302|sidonie</string>
                    </ArrayOfString>
                </value>
            </setting>
        </sos.Properties.Settings>
    </userSettings>
</configuration>